services:
  backend:
    build:
      context: .
      dockerfile: backend/src/Dockerfile
    ports:
      - "8000:8000"
    env_file:
      - .env
    volumes:
      - ./data:/app/data
      - ./knowledge_base:/app/backend/knowledge_base

  frontend:
    build:
      context: .
      dockerfile: frontend/Dockerfile
    ports:
      - "8051:8501"
    depends_on:
      - backend
    environment:
      - API_URL=http://backend:8000
